<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DashBoard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DashBoard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Urgent Tasks</h2>
    <ion-list>
      <ion-item *ngFor="let task of tasks | slice:0:3">
        <ion-label >{{task.title}}</ion-label>
        <ion-note slot="end">priority:{{ task.priority }}</ion-note>
      </ion-item>
    </ion-list>
    <h2>Add Tasks</h2>
    <ion-button shape="round" [routerLink]="['/to-do-list']" routerDirection="forward">Add Tasks</ion-button>
    <h2>Calendar</h2>
    <ion-button  shape="round" [routerLink]="['/calendar']" routerDirection="forward">Calendar</ion-button>
    <h2>Settings</h2>
    <ion-button  shape="round" [routerLink]="['/settings']" routerDirection="forward">Settings</ion-button>
  </div>
</ion-content>
