<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Tasks</ion-title>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ToDoList</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Task Title</ion-label>
      <ion-input [(ngModel)]="taskTitle" type="text" placeholder="Enter task title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Priority (1-5)</ion-label>
      <ion-input [(ngModel)]="priority" type="number" placeholder="Enter priority"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select [(ngModel)]="category" placeholder="Select category">
        <ion-select-option value="work">Work</ion-select-option>
        <ion-select-option value="shopping">Shopping</ion-select-option>
        <ion-select-option value="leisure">Leisure</ion-select-option>
        <ion-select-option value="family">Family</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date of Completion</ion-label>
      <ion-input [(ngModel)]="date" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Detailed Description</ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="Enter detailed description"></ion-textarea>
    </ion-item>
    <ion-button (click)="addTask()" expand="block" color="primary">Add Task</ion-button>
  </ion-list>
  <h1>Recently Added Task</h1>
  <ion-list *ngIf="tasks.length > 0"><!-- print if array size is greater than 0-->
  <ion-item>
    <!--if there is a single entry in the array task length is one but its in position 0 of the array so use task.length-1 to get the correct position in the array for the most recent task-->
    <ion-label>{{tasks[tasks.length - 1].title }}</ion-label>
    <ion-label>Priority: {{ tasks[tasks.length - 1].priority }}</ion-label>
    <ion-label>Category: {{ tasks[tasks.length - 1].category }}</ion-label>
    <ion-label>Date: {{ tasks[tasks.length - 1].date }}</ion-label>
    <ion-label>Description: {{ tasks[tasks.length - 1].description }}</ion-label>
  </ion-item>
</ion-list>
<ion-label *ngIf="tasks.length === 0">No tasks added yet.</ion-label><!-- print  if array size is  0-->>
</ion-content>